@keyframes ldio-tl2zvqttzjl {
    0%    { opacity: 1; transform: translate(0 0) }
    49.99% { opacity: 1; transform: translate(86.8px,0) }
    50%    { opacity: 0; transform: translate(86.8px,0) }
    100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-tl2zvqttzjl {
    0% { transform: translate(0,0) }
    50% { transform: translate(86.8px,0) }
    100% { transform: translate(0,0) }
}
.ldio-tl2zvqttzjl div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ldio-tl2zvqttzjl div:nth-child(1) {
    background: #07ace8;
    animation: ldio-tl2zvqttzjl 1.1627906976744184s linear infinite;
    animation-delay: -0.5813953488372092s;
}
.ldio-tl2zvqttzjl div:nth-child(2) {
    background: #ff1632;
    animation: ldio-tl2zvqttzjl 1.1627906976744184s linear infinite;
    animation-delay: 0s;
}
.ldio-tl2zvqttzjl div:nth-child(3) {
    background: #07ace8;
    animation: ldio-tl2zvqttzjl 1.1627906976744184s linear infinite;
    animation-delay: -0.5813953488372092s;
}
.loadingio-spinner-dual-ball-0fnhzir7lolb {
    width: 80px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
}
.spin{
    width: 130px;
}
.spinner-wrap{
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
.loading{
    margin-top: 10px;
    font-size: 16px;
    font-family: "DINPro light", sans-serif;
}
.ldio-tl2zvqttzjl div { box-sizing: content-box; }