.wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    background-image: url('../src/img/rhwk_decorGrey.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}

.heading {
    margin: 0;
    margin-right: 9%;
}

.main-container {
    min-height: calc(100% - 200px);
    margin: 0;
    margin-left: 9%;
    background-color: rgba(243, 244, 244, .5);
}

.aside-container {
    margin-top: 3rem;
}
